.screen {
  display: grid;
  grid-template-rows: 10fr 80fr 10fr;
  grid-template-columns: 35fr 30fr 35fr;
  height: 100vh;
}
.calculator {
  grid-column: 2;
  grid-row: 2;
  border: 1px solid black;
  border-radius: 5%;
  padding: 1em;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.button {
  display: grid;
  place-items: center;
  width: 3em;
  height: 3em;
  border: 1px solid black;
  margin: 1em;
  background-color: lightgreen;
  cursor: pointer;
}
.buttonsContainers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: grey;
}
.display {
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
}

.disabled {
  background-color: gainsboro;
}
