.screen {
  display: grid;
  grid-template-rows: 10fr 80fr 10fr;
  grid-template-columns: 65fr 95fr 40fr;
  height: 100vh;
}

.button {
  padding: 10px;
  color: white;
  display: grid;
  place-items: center;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-collapse: collapse;
  background-color: lightgrey;
  cursor: pointer;
}

.calculator {
  margin-top: 10%;
  height: 100%;
  width: 60%;
  overflow: unset;
  background-color: aquamarine;
}

.display {
  display: flex;
  background-color: #3e4c53;
  color: white;
  height: 14%;
  font-size: 40px;
  padding: 2px;
  justify-content: flex-end;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-collapse: collapse;
}

.painel {
}

.NumbersbuttonsContainers {
  float: left;
  display: flex;

  margin: 0;
}

.OperatingbuttonsContainers {
  display: flex;
  float: right;
}

.disabled {
  background-color: gainsboro;
}
